// Override and extend Bootstrap stuff
// --------------------------------------------------
// Files, classes, mixins etc.
@import 'theme/mixins';
@import 'theme/scaffolding';
@import 'theme/alerts';

// Own modules
// --------------------------------------------------
// @import "theme/testResponsiveHelpers"; // debug
@import 'theme/variables';
@import 'theme/footer';
@import 'theme/header';
@import 'theme/partners';
@import 'theme/socials';

// Important note //
// You could also use this file to insert theme related style definitions
// directly within this file. But we recommend keeping your Sass code in
// separate files like the examples above when you exceed a few hundred lines
// of code. Otherwise it will definitely have a negative impact on
// maintainability.

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'https://fonts.googleapis.com/css?family=Schoolbell';

@include media-breakpoint-up(xs);
@include media-breakpoint-up(sm);
@include media-breakpoint-up(md);
@include media-breakpoint-up(lg);
@include media-breakpoint-up(xl);

html {
  background-color: lightgrey;
  font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
}

body {
  margin-bottom: 0;
}

.white {
  background-color: $background-main-white;
}

.gray {
  background-color: $background-main-gray;
}

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
    img {
      height: 50px;
      margin-left: 20px;
    }
  }
}

// Container with no padding for navbar
.nav-container {
  max-width: $content-width-navbar;
  margin: 0 auto;
}

.container-fluid {
  overflow: auto;
}

// Navigation
nav {
  padding: 0 !important;
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:not(:only-child)::after {
          padding-left: 4px;
          content: ' ▾';
        }
      }
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

@media (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
  #navlist {
    top: 70px;
    width: 100%;
    position: relative;
  }
}

@media (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0;
  span,
  span::before,
  span::after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span::before {
    top: -10px;
  }
  span::after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &::before,
    &::after {
      top: 0;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .copyright {
    a {
      color: inherit;
      text-decoration: none;
    }

    float: right;
  }
  .footer-text {
    margin: 15px 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding;
  p {
    width: $content-width !important;
    margin-bottom: 50px;
  }
}

.iforp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding;
  a {
    margin-top: 20px;
    align-self: center;
    flex: 1 1 auto;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f3c532;
    color: black;
    text-decoration: none;
    &:hover {
      color: white;
      background-color: #e79437;
      border-color: none;
      text-decoration: none;
    }
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    width: $content-width !important;
    margin-bottom: 50px;
  }
}

.screencast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    width: $content-width !important;
  }
  #accordion {
    margin-top: 30px;
    width: $content-width !important;
  }
}

.install {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $section-padding;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .viaGit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    width: 50%;
  }
  .viaYeoman {
    margin-top: 50px;
    width: 50%;
  }
  pre {
    display: block;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: #f5f2f0 !important;
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    color: #000;
    background: 0 0;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
  }
}

a.card-link {
  color: inherit;
  text-decoration: none;
}

@keyframes mover-wide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

.hover_short1 {
  -webkit-animation: mover-short1 1s infinite alternate;
  animation: mover-short1 1s infinite alternate;
}

@keyframes mover-short1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.hover_short2 {
  -webkit-animation: mover-short2 1s infinite alternate;
  animation: mover-short2 1s infinite alternate;
}

@keyframes mover-short2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-13px);
  }
}

.hover_short3 {
  -webkit-animation: mover-short3 1s infinite alternate;
  animation: mover-short3 1s infinite alternate;
}

@keyframes mover-short3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-16px);
  }
}

p {
  line-height: 165%;
  font-size: 20px;
}

.language-bash {
  font-size: 18px;
}

@media (max-width: 460px) {
  footer {
    height: 82px;
  }
  .copyright {
    float: left;
  }
}

@media (max-width: 365px) {
  footer {
    height: 125px;
  }
}
