h1 {
	font-size: 26px;

	@media #{$md-and-above} {
		font-size: $font-size-h1;
	}
}

.bmbf {
	margin: 10px 0 0;
	max-width: 25%;

	@media #{$lg-and-above} {
		max-width: 20%;
	}

	@media #{$xl-and-above} {
		max-width: 15%;
	}
}

.logo-wrapper {
	margin: 30px 0;
}

.logo {
	max-width: 75%;

	@media #{$sm-and-above} {
		max-width: 50%;
	}

	@media #{$md-and-above} {
		max-width: 40%;
	}
}
