@import 'variables';

.our_socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}

.keepintouch {
  padding: $section-padding;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  h6 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.wrp {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.icon-github:hover {
  color: #333 !important;
  text-decoration: none !important;
}

.icon-labs {
  margin-left: 80px;
  &:hover {
    color: green !important;
    text-decoration: none !important;
  }
}

.icon-twitter {
  margin-right: 80px;
  &:hover {
    color: #00aced !important;
    text-decoration: none !important;
  }
}

.icon {
  color: $background-main-gray;
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  height: 50px;
  width: 70px;
  border-radius: 100%;
  position: relative;
  a {
    color: gray;
  }
  p {
    display: none;
    font-size: 15px;
    text-align: center;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transform: scale(0);
    border-radius: 100%;
    z-index: -1;
  }
  &:hover {
    animation-name: bubble;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    p {
      display: block;
    }
  }
}

@keyframes bubble {
  100% {
    transform: scale(1.2);
  }
}
