$background-main-white: #fff;
$background-main-gray: #e9ecef;
$content-width-navbar: 100%;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: $background-main-gray;
$nav-font-color: #111;
$nav-font-hover-color: #fff;
$link-hover-color: darkgrey;
$section-padding: 150px 0 150px 0;
$content-width: 64%;
