{{!-- begin: footer --}}
<div class="footer">
	<div class="container">
		<p class="footer-text text-muted">
			Made with <span class="🦄">🦄</span>
			<span class="copyright">
				{{addYear '©'}} <a href="https://www.micromata.de/">Micromata</a>
				 | <a href="https://www.micromata.de/impressum/">Impressum</a>
				 | <a href="https://www.micromata.de/datenschutz/">Datenschutz</a>
			</span>
		</p>
	</div>
</div>
{{!-- end: footer --}}
