{{!-- begin: footer --}}
<div class="footer">
	<div class="container">
		<p class="footer-text text-muted">
			Made with <span class="🦄">🦄</span>
			<span class="copyright">{{addYear '©'}} Micromata</span>
		</p>
	</div>
</div>
{{!-- end: footer --}}
